@keyframes pulse {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

@keyframes dots {
    0% {
        content: "";
    }
    25% {
        content: ".";
    }
    50% {
        content: "..";
    }
    75% {
        content: "...";
    }
    100% {
        content: "...";
    }
}

.loading-text {
    color: #fff;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    animation: pulse 2s infinite;
    font-family: 'Pixelify Sans', sans-serif;
}

.loading-text span {
    display: inline-block;
}

.loading-text:after {
    content: "";
    animation: dots 2s steps(1, end) infinite;
}

.loading-container {
    margin: 0;
    padding: 0;
    user-select: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    position: relative;
}


.container-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 5px solid #484848;
    box-sizing: border-box;
    pointer-events: none;
    margin: 1rem;
}

.game-name {
    font-size: 10rem;
    font-family: 'Pixelify Sans', sans-serif;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    user-select: none;
    position: absolute;
    top: 5%;
    animation: bounce 2s infinite ease-in-out;
}

.credits {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    color: #848484;
    font-family: 'Pixelify Sans', sans-serif;
    user-select: none;
}
